/*===============================
IMPORTS
=================================*/
@import url('https://annal001.github.io/personal-portfolio/css/fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600;700&display=swap');


/*===============================
GLOBAL STYLING
=================================*/
html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: "Teko", sans-serif;
}

.title{
    font-weight: bold;
    font-size: 50px;
    line-height: 72px;
}

.text-uppercase{
    text-transform: uppercase;
}
 
.button{
    padding: .8rem 2.2rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.primary-button{
    background: linear-gradient(90deg, #214cce 0%, #6d8ce8 100%);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow:  0px 10px 30px rgba(57, 56, 61, 0.205);
}

.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.primary-button::after{
    position: absolute;
    top: -2px; 
    left: -2px;
    bottom: -2px;  
    right: -2px;
    background: linear-gradient(90deg, #214cce 0%, #6d8ce8 100%);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

p.para{
    color: #777777;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

section.section-title{
    display: block;
    font-size: 49px;
    font-weight: normal;
    line-height: 60px;
    letter-spacing: 21px;
}

.text-color{
    color: #777777;
}

button:focus,
button:active,button:hover{
    outline: none;
}

/*===============================
HEADER
=================================*/
.header .main-menu .navbar{
    margin: 0.3rem 5rem;
}

.header .logo .navbar-brand{
    width: 40px;
    height: 40px;
    color:#214cce;
    border: 2px solid #214cce;
    border-radius: 50%;
    font-weight: 600;
    text-transform: uppercase; 
}

.header .nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 2px;
    padding: 1.7rem;
    color:#141313;
}

.header .nav-item .nav-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 2px;
    text-transform: uppercase;
    padding: 1.7rem;
    color: #141313;
}

.header .main-menu .navbar-nav a.active{
    background: radial-gradient(#6d8ce8, #214cce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .main-menu .navbar-nav a:hover{
    background: radial-gradient(#6d8ce8, #214cce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*===============================
BANNER
=================================*/
.main .banner h3.title{
    padding-top: 35%;
    font-weight: 500;
}

.main .banner h1.title{
    font-size: 5rem;
}

.main .banner h4.title{
    font-size: 1.5rem;
}

.main .banner .banner-img{
    padding: 10rem 0;
    width: 90rem;
}


/*===============================
ABOUT
=================================*/
section.about{
    margin: 4rem 0;
}
.about .about-img{
    max-width: 60%;
}

.main .about .paragraph p{
    padding: .4rem 0;
}

.social-media{
    font-size: 1.5rem;
    letter-spacing: 12px;
    margin: 0 4rem;
}


/*===============================
SKILLS
=================================*/
.main .skills{
    margin: 5rem 0;
}

.main .skills .row{
    margin: 4rem 0;
}

.main .skills .progress{
    height:50%;
    box-shadow:  3px 3px rgba(57, 56, 61, 0.205);
    z-index:1;
}

/*===============================
SERVICES
=================================*/
section.services{
    margin: 5rem 0;
}
.main .card{
    box-shadow:  3px 3px rgba(57, 56, 61, 0.205);
    z-index:1;
}

section.services .card{
    text-align: center;
}

section.services .row{
    margin: 4rem 0;
}

.main .card .card-body h4{
    font-weight: 500;
    font-size: 21px;
    line-height: 20px;
}

.main .card .card-body p{
    font-size: 15px;
}

.main .card:hover{
    animation: fronte 1s linear forwards; 
}

@keyframes fronte {
    from { z-index: 0; transform: scale(0.9); opacity: 0.5; }
    to { z-index: 4; transform: scale(1.1); opacity: 1; }
  }

section.services .card i{
    font-size: 5rem;
    margin: 2rem 0;
    background: radial-gradient(#6d8ce8, #214cce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*===============================
PORTFOLIO
=================================*/
section.portfolio{
    margin: 5rem 0;
}

section.portfolio .button-group button{
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    text-transform: uppercase;
}

section.portfolio .button-group button + button{
    padding-left: 3rem;
}

section.portfolio .button-group button.active,
section.portfolio .button-group button:hover{
    background: radial-gradient(#6d8ce8, #214cce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}




/*===============================
TESTIMONIAL
=================================*/
section.testimonial{
    margin: 5rem 0;
    
}
.main .testimonial .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.main .testimonial .owl-carousel .owl-dots .owl-dot.active span{
    background: radial-gradient(#6d8ce8, #214cce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 12px;
    height: 12px;
}


/*===============================
CONTACT ME
=================================*/
section.contact{
    margin-top: 5rem;
    padding-bottom: 4rem;
}
section.contact .card .card-body i{
    font-size: 4rem;
    margin: 2rem 0;
    background: radial-gradient(#6d8ce8, #214cce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*===============================
CSS MEDIA QUERIES
=================================*/
/*===For screens less than or equal to 576px===*/
@media only screen and (max-width: 576px){
    .row{
        text-align: center;
    }

    .col-12{
        margin:1rem 0;
    }

    .header .main-menu .navbar{
        margin: 0;
    }

    .main .skills .row{
        margin: 0;
    }

    .main .banner .button{
        margin-right: auto;
        margin-left: auto;
    }

}






